{
  "openapi": "3.0.3",
  "info": {
    "title": "Slopshop API",
    "description": "SLOP: Stateless Lightweight Operational Primitives. Real compute tools for AI agents across 78 categories.",
    "version": "2.0.0",
    "contact": {
      "name": "Slopshop",
      "url": "https://slopshop.gg",
      "email": "hello@slopshop.gg"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://slopshop.gg",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/text-word-count": {
      "post": {
        "summary": "Word Count",
        "description": "Count words, characters, sentences, and paragraphs in text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to count",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "words": "number",
                  "characters": "number",
                  "sentences": "number",
                  "paragraphs": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-char-count": {
      "post": {
        "summary": "Character Count",
        "description": "Count characters with and without spaces, by type. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to analyze",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "total": "number",
                  "no_spaces": "number",
                  "letters": "number",
                  "digits": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-emails": {
      "post": {
        "summary": "Extract Emails",
        "description": "Extract all email addresses from text using pattern matching. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text containing email addresses",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "emails": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-urls": {
      "post": {
        "summary": "Extract URLs",
        "description": "Extract all URLs from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text containing URLs",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "urls": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-phones": {
      "post": {
        "summary": "Extract Phones",
        "description": "Extract phone numbers from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text containing phone numbers",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "phones": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-numbers": {
      "post": {
        "summary": "Extract Numbers",
        "description": "Extract all numeric values from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text containing numbers",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "numbers": "number[]",
                  "count": "number",
                  "sum": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-dates": {
      "post": {
        "summary": "Extract Dates",
        "description": "Extract date-like strings from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text containing dates",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "dates": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-mentions": {
      "post": {
        "summary": "Extract @Mentions",
        "description": "Extract @mentions from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text with @mentions",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "mentions": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-extract-hashtags": {
      "post": {
        "summary": "Extract #Hashtags",
        "description": "Extract #hashtags from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text with #hashtags",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hashtags": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-regex-test": {
      "post": {
        "summary": "Regex Test",
        "description": "Test a regex pattern against text. Returns all matches with positions. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "pattern": {
                  "type": "string",
                  "description": "Regex pattern",
                  "required": true
                },
                "text": {
                  "type": "string",
                  "description": "Text to match against",
                  "required": true
                },
                "flags": {
                  "type": "string",
                  "description": "Regex flags (default: g)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "matches": "object[]",
                  "count": "number",
                  "valid": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-regex-replace": {
      "post": {
        "summary": "Regex Replace",
        "description": "Find and replace using regex pattern. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "pattern": {
                  "type": "string",
                  "description": "Regex pattern",
                  "required": true
                },
                "text": {
                  "type": "string",
                  "description": "Text to search in",
                  "required": true
                },
                "replacement": {
                  "type": "string",
                  "description": "Replacement string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string",
                  "replacements_made": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-diff": {
      "post": {
        "summary": "Text Diff",
        "description": "Line-by-line diff of two texts. Returns added, removed, unchanged. (3 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "a": {
                  "type": "string",
                  "description": "Original text",
                  "required": true
                },
                "b": {
                  "type": "string",
                  "description": "Modified text",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "added": "string[]",
                  "removed": "string[]",
                  "unchanged": "number",
                  "total_changes": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-slugify": {
      "post": {
        "summary": "Slugify",
        "description": "Convert text to URL-safe slug. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to slugify",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "slug": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-truncate": {
      "post": {
        "summary": "Smart Truncate",
        "description": "Truncate text at word boundary with ellipsis. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to truncate",
                  "required": true
                },
                "max_length": {
                  "type": "number",
                  "description": "Max characters (default: 100)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string",
                  "truncated": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-language-detect": {
      "post": {
        "summary": "Language Detect",
        "description": "Detect language of text using word frequency heuristics. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to detect language of",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "detected": "string",
                  "confidence": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-profanity-check": {
      "post": {
        "summary": "Profanity Check",
        "description": "Check text for profanity against word list. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to check",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "clean": "boolean",
                  "profanity_found": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-readability-score": {
      "post": {
        "summary": "Readability Score",
        "description": "Flesch-Kincaid readability grade level and score. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to score",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "flesch_kincaid_grade": "number",
                  "flesch_reading_ease": "number",
                  "difficulty": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-keyword-extract": {
      "post": {
        "summary": "Keyword Extract",
        "description": "Extract top keywords by frequency, excluding stop words. (3 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to extract keywords from",
                  "required": true
                },
                "top": {
                  "type": "number",
                  "description": "Number of keywords (default: 10)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "keywords": "object[]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-sentence-split": {
      "post": {
        "summary": "Sentence Split",
        "description": "Split text into individual sentences. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to split into sentences",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "sentences": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-deduplicate-lines": {
      "post": {
        "summary": "Deduplicate Lines",
        "description": "Remove duplicate lines from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text with duplicate lines",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string",
                  "original_lines": "number",
                  "unique_lines": "number",
                  "removed": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-sort-lines": {
      "post": {
        "summary": "Sort Lines",
        "description": "Sort lines alphabetically or numerically. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text with lines to sort",
                  "required": true
                },
                "reverse": {
                  "type": "boolean",
                  "description": "Sort descending"
                },
                "numeric": {
                  "type": "boolean",
                  "description": "Sort numerically"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string",
                  "lines": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-reverse": {
      "post": {
        "summary": "Reverse Text",
        "description": "Reverse a string. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-case-convert": {
      "post": {
        "summary": "Case Convert",
        "description": "Convert between camelCase, snake_case, UPPER, lower, Title Case, kebab-case. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to convert",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "camelCase": "string",
                  "snake_case": "string",
                  "kebab_case": "string",
                  "UPPER": "string",
                  "lower": "string",
                  "Title": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-lorem-ipsum": {
      "post": {
        "summary": "Lorem Ipsum",
        "description": "Generate placeholder text of specified length. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "words": {
                  "type": "number",
                  "description": "Number of words (default: 50)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "text": "string",
                  "words": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-count-frequency": {
      "post": {
        "summary": "Frequency Analysis",
        "description": "Character and word frequency analysis. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "character_frequency": "object[]",
                  "word_frequency": "object[]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-strip-html": {
      "post": {
        "summary": "Strip HTML",
        "description": "Remove all HTML tags from text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "HTML to strip tags from",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-escape-html": {
      "post": {
        "summary": "Escape HTML",
        "description": "Escape HTML entities (&lt; &gt; &amp; etc). (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-unescape-html": {
      "post": {
        "summary": "Unescape HTML",
        "description": "Convert HTML entities back to characters. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-rot13": {
      "post": {
        "summary": "ROT13",
        "description": "ROT13 encode/decode text. (1 credits)",
        "tags": [
          "Text Processing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-markdown-to-html": {
      "post": {
        "summary": "Markdown to HTML",
        "description": "Convert Markdown to HTML. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Markdown text",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "html": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-csv-to-json": {
      "post": {
        "summary": "CSV to JSON",
        "description": "Parse CSV text into JSON array of objects. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "CSV text",
                  "required": true
                },
                "separator": {
                  "type": "string",
                  "description": "Delimiter (default: ,)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "rows": "object[]",
                  "headers": "string[]",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-to-csv": {
      "post": {
        "summary": "JSON to CSV",
        "description": "Convert JSON array to CSV text. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "data": {
                  "type": "array",
                  "description": "Array of objects to convert to CSV",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "csv": "string",
                  "count": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-xml-to-json": {
      "post": {
        "summary": "XML to JSON",
        "description": "Parse XML to JSON object. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "XML text",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "object",
                  "tags_found": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-yaml-to-json": {
      "post": {
        "summary": "YAML to JSON",
        "description": "Parse YAML key:value pairs to JSON. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "YAML text",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "object",
                  "keys": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-validate": {
      "post": {
        "summary": "JSON Validate",
        "description": "Validate JSON syntax, return errors if invalid. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "JSON string to validate",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "valid": "boolean",
                  "error": "string|null"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-format": {
      "post": {
        "summary": "JSON Format",
        "description": "Pretty-print or minify JSON. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "JSON string",
                  "required": true
                },
                "indent": {
                  "type": "number",
                  "description": "Indent spaces (default: 2)"
                },
                "minify": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-path": {
      "post": {
        "summary": "JSON Path Query",
        "description": "Extract value at a dot-notation path from JSON. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "JSON string to query",
                  "required": true
                },
                "path": {
                  "type": "string",
                  "description": "Dot-notation path (e.g. \"user.name\")",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "value": "any",
                  "found": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-flatten": {
      "post": {
        "summary": "JSON Flatten",
        "description": "Flatten nested JSON to dot-notation keys. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "data": {
                  "type": "object",
                  "description": "Nested JSON object to flatten",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "object",
                  "keys": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-unflatten": {
      "post": {
        "summary": "JSON Unflatten",
        "description": "Unflatten dot-notation keys back to nested JSON. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "data": {
                  "type": "object",
                  "description": "Flat JSON object with dot-notation keys",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-diff": {
      "post": {
        "summary": "JSON Diff",
        "description": "Diff two JSON objects, return added/removed/changed keys. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "a": {
                  "type": "object",
                  "description": "First JSON",
                  "required": true
                },
                "b": {
                  "type": "object",
                  "description": "Second JSON",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "added": "object[]",
                  "removed": "object[]",
                  "changed": "object[]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-merge": {
      "post": {
        "summary": "JSON Deep Merge",
        "description": "Deep merge two JSON objects. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "a": {
                  "type": "object",
                  "required": true
                },
                "b": {
                  "type": "object",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-json-schema-generate": {
      "post": {
        "summary": "JSON Schema Generate",
        "description": "Generate JSON Schema from example data. (3 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "data": {
                  "type": "object",
                  "description": "Example JSON object to generate schema from",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "schema": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-base64-encode": {
      "post": {
        "summary": "Base64 Encode",
        "description": "Encode text to Base64. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-base64-decode": {
      "post": {
        "summary": "Base64 Decode",
        "description": "Decode Base64 to text. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Base64 string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-url-encode": {
      "post": {
        "summary": "URL Encode",
        "description": "URL-encode a string. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-url-decode": {
      "post": {
        "summary": "URL Decode",
        "description": "URL-decode a string. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-url-parse": {
      "post": {
        "summary": "URL Parse",
        "description": "Parse URL into protocol, host, port, path, query params, hash. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "url": {
                  "type": "string",
                  "description": "URL to parse",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "protocol": "string",
                  "hostname": "string",
                  "port": "string",
                  "pathname": "string",
                  "params": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-hex-encode": {
      "post": {
        "summary": "Hex Encode",
        "description": "Convert string to hexadecimal. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text-hex-decode": {
      "post": {
        "summary": "Hex Decode",
        "description": "Convert hexadecimal to string. (1 credits)",
        "tags": [
          "Data Transform"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-hash-sha256": {
      "post": {
        "summary": "SHA256 Hash",
        "description": "Compute SHA256 hash of input data. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to hash",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hash": "string",
                  "algorithm": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-hash-sha512": {
      "post": {
        "summary": "SHA512 Hash",
        "description": "Compute SHA512 hash of input data. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to hash",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hash": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-hash-md5": {
      "post": {
        "summary": "MD5 Hash",
        "description": "Compute MD5 hash of input data. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to hash",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hash": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-hmac": {
      "post": {
        "summary": "HMAC-SHA256",
        "description": "Compute HMAC-SHA256 with secret key. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to sign",
                  "required": true
                },
                "secret": {
                  "type": "string",
                  "description": "HMAC secret key",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hmac": "string",
                  "algorithm": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-uuid": {
      "post": {
        "summary": "UUID v4",
        "description": "Generate cryptographically random UUID v4. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uuid": "string",
                  "version": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-nanoid": {
      "post": {
        "summary": "Nanoid",
        "description": "Generate compact unique ID (21 chars, URL-safe). (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "length": {
                  "type": "number",
                  "description": "Length (default: 21)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "id": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-password-generate": {
      "post": {
        "summary": "Generate Password",
        "description": "Generate secure random password with configurable length and character sets. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "length": {
                  "type": "number",
                  "description": "Password length (default: 24)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "password": "string",
                  "entropy_bits": "number",
                  "strength": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-password-hash": {
      "post": {
        "summary": "Hash Password",
        "description": "Hash password using PBKDF2 with random salt. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "password": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hash": "string",
                  "algorithm": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-password-verify": {
      "post": {
        "summary": "Verify Password",
        "description": "Verify password against PBKDF2 hash. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "password": {
                  "type": "string",
                  "required": true
                },
                "hash": {
                  "type": "string",
                  "description": "Hash from crypto-password-hash",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "valid": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-random-bytes": {
      "post": {
        "summary": "Random Bytes",
        "description": "Generate cryptographic random bytes (hex output). (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "bytes": {
                  "type": "number",
                  "description": "Number of bytes (default: 32)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hex": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-random-int": {
      "post": {
        "summary": "Random Integer",
        "description": "Generate random integer in a range. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "min": {
                  "type": "number",
                  "description": "Minimum (default: 0)"
                },
                "max": {
                  "type": "number",
                  "description": "Maximum (default: 100)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "value": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-jwt-sign": {
      "post": {
        "summary": "JWT Sign",
        "description": "Create and sign a JWT with HS256. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "payload": {
                  "type": "object",
                  "description": "JWT claims",
                  "required": true
                },
                "secret": {
                  "type": "string",
                  "description": "Signing secret",
                  "required": true
                },
                "exp": {
                  "type": "number",
                  "description": "Expiry in seconds"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "token": "string",
                  "payload": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-jwt-verify": {
      "post": {
        "summary": "JWT Verify",
        "description": "Verify JWT signature and check expiry. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "token": {
                  "type": "string",
                  "description": "JWT to verify",
                  "required": true
                },
                "secret": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "valid": "boolean",
                  "payload": "object",
                  "expired": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-jwt-decode": {
      "post": {
        "summary": "JWT Decode",
        "description": "Decode JWT payload without verification (unsafe inspect). (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "token": {
                  "type": "string",
                  "description": "JWT to decode (no verification)",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "header": "object",
                  "payload": "object",
                  "signature": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-otp-generate": {
      "post": {
        "summary": "Generate OTP",
        "description": "Generate numeric one-time password. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "length": {
                  "type": "number",
                  "description": "OTP length (default: 6)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "otp": "string",
                  "expires_in": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-encrypt-aes": {
      "post": {
        "summary": "AES Encrypt",
        "description": "AES-256-GCM encrypt data with key. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Text to encrypt",
                  "required": true
                },
                "key": {
                  "type": "string",
                  "description": "Encryption key",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "encrypted": "string",
                  "iv": "string",
                  "tag": "string",
                  "algorithm": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-decrypt-aes": {
      "post": {
        "summary": "AES Decrypt",
        "description": "AES-256-GCM decrypt data with key. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "encrypted": {
                  "type": "string",
                  "required": true
                },
                "key": {
                  "type": "string",
                  "required": true
                },
                "iv": {
                  "type": "string",
                  "required": true
                },
                "tag": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "decrypted": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto-checksum": {
      "post": {
        "summary": "Checksum",
        "description": "Compute MD5 + SHA256 checksums of content. (1 credits)",
        "tags": [
          "Crypto & Security"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "content": {
                  "type": "string",
                  "description": "Content to checksum",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "md5": "string",
                  "sha256": "string",
                  "size_bytes": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-evaluate": {
      "post": {
        "summary": "Evaluate Expression",
        "description": "Safely evaluate a math expression (no eval). Supports +,-,*,/,^,%,parentheses. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Math expression (e.g. (2+3)*4)",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "expression": "string",
                  "result": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-statistics": {
      "post": {
        "summary": "Statistics",
        "description": "Compute mean, median, mode, stddev, min, max, sum, count from number array. (3 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "numbers": {
                  "type": "array",
                  "description": "Array of numbers",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "count": "number",
                  "sum": "number",
                  "mean": "number",
                  "median": "number",
                  "stddev": "number",
                  "min": "number",
                  "max": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-percentile": {
      "post": {
        "summary": "Math Percentile",
        "description": "Math Percentile — pure compute superpower for AI agents.",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "numbers": {
                  "type": "array",
                  "required": true
                },
                "percentile": {
                  "type": "number",
                  "description": "Percentile to calculate (0-100)",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "value": "number",
                  "percentile": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-histogram": {
      "post": {
        "summary": "Histogram",
        "description": "Build histogram bins from number array. (3 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "numbers": {
                  "type": "array",
                  "required": true
                },
                "bins": {
                  "type": "number",
                  "description": "Number of bins (default: 10)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "bins": "object[]",
                  "total": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-currency-convert": {
      "post": {
        "summary": "Currency Convert",
        "description": "Convert between currencies using rates (static rates, updated periodically). (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "amount": {
                  "type": "number",
                  "required": true
                },
                "from": {
                  "type": "string",
                  "description": "Currency code (USD, EUR, GBP, etc.)",
                  "required": true
                },
                "to": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "number",
                  "rate": "number",
                  "from": "string",
                  "to": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-unit-convert": {
      "post": {
        "summary": "Unit Convert",
        "description": "Convert between units: length, weight, temperature, volume, speed, data. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "value": {
                  "type": "number",
                  "required": true
                },
                "from": {
                  "type": "string",
                  "description": "Unit (km, miles, kg, lbs, c, f, etc.)",
                  "required": true
                },
                "to": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "number",
                  "from": "string",
                  "to": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-color-convert": {
      "post": {
        "summary": "Color Convert",
        "description": "Convert between hex, RGB, and HSL color formats. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "hex": {
                  "type": "string",
                  "description": "Hex color (e.g. #3b82f6)",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "hex": "string",
                  "rgb": "object",
                  "hsl": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-number-format": {
      "post": {
        "summary": "Number Format",
        "description": "Format numbers with locale, currency, percentage, scientific notation. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "number": {
                  "type": "number",
                  "required": true
                },
                "locale": {
                  "type": "string",
                  "description": "Locale (default: en-US)"
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code for formatting"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "formatted": "string",
                  "currency": "string",
                  "percentage": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-compound-interest": {
      "post": {
        "summary": "Compound Interest",
        "description": "Calculate compound interest with principal, rate, time, frequency. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "principal": {
                  "type": "number",
                  "required": true
                },
                "rate": {
                  "type": "number",
                  "description": "Annual rate (e.g. 0.07 for 7%)",
                  "required": true
                },
                "years": {
                  "type": "number",
                  "required": true
                },
                "compounds_per_year": {
                  "type": "number",
                  "description": "Compounding frequency (default: 12)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "final_amount": "number",
                  "interest_earned": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-loan-payment": {
      "post": {
        "summary": "Loan Payment",
        "description": "Calculate monthly loan payment, total interest, amortization. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "principal": {
                  "type": "number",
                  "required": true
                },
                "annual_rate": {
                  "type": "number",
                  "required": true
                },
                "years": {
                  "type": "number",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "monthly_payment": "number",
                  "total_paid": "number",
                  "total_interest": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-roi-calculate": {
      "post": {
        "summary": "ROI Calculator",
        "description": "Calculate ROI, payback period from cost and revenue figures. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "cost": {
                  "type": "number",
                  "required": true
                },
                "revenue": {
                  "type": "number",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "profit": "number",
                  "roi_percent": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-percentage-change": {
      "post": {
        "summary": "Percentage Change",
        "description": "Calculate percentage change between two values. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "from": {
                  "type": "number",
                  "required": true
                },
                "to": {
                  "type": "number",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "change": "number",
                  "percentage": "number",
                  "direction": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-fibonacci": {
      "post": {
        "summary": "Fibonacci",
        "description": "Generate fibonacci sequence up to n terms. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "n": {
                  "type": "number",
                  "description": "Number of terms",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "sequence": "number[]"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-prime-check": {
      "post": {
        "summary": "Prime Check",
        "description": "Check if a number is prime. Return true/false + nearest primes. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "number": {
                  "type": "number",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "is_prime": "boolean",
                  "next_prime": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-gcd": {
      "post": {
        "summary": "GCD",
        "description": "Greatest common divisor of two or more numbers. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "numbers": {
                  "type": "array",
                  "description": "Two or more numbers",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "gcd": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-lcm": {
      "post": {
        "summary": "LCM",
        "description": "Least common multiple of two or more numbers. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "numbers": {
                  "type": "array",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "lcm": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/math-base-convert": {
      "post": {
        "summary": "Base Convert",
        "description": "Convert numbers between bases (binary, octal, decimal, hex). (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "text": {
                  "type": "string",
                  "description": "Number as string",
                  "required": true
                },
                "from_base": {
                  "type": "number",
                  "description": "Source base (2,8,10,16)",
                  "required": true
                },
                "to_base": {
                  "type": "number",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string",
                  "decimal": "number",
                  "binary": "string",
                  "hex": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-mean": {
      "post": {
        "summary": "Mean",
        "description": "Calculate arithmetic mean of a number array. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-median": {
      "post": {
        "summary": "Median",
        "description": "Calculate median of a number array. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-stddev": {
      "post": {
        "summary": "Standard Deviation",
        "description": "Calculate standard deviation, variance, and mean of a number array. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-percentile": {
      "post": {
        "summary": "Percentile",
        "description": "Calculate any percentile (default p50) of a number array. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-correlation": {
      "post": {
        "summary": "Correlation",
        "description": "Calculate Pearson correlation coefficient between two number arrays. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-histogram": {
      "post": {
        "summary": "Histogram",
        "description": "Generate histogram bins from a number array. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats-summary": {
      "post": {
        "summary": "Statistical Summary",
        "description": "Full summary: count, min, max, mean, median, stddev, variance, p25, p75. (1 credits)",
        "tags": [
          "Math & Numbers"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/date-parse": {
      "post": {
        "summary": "Date Parse",
        "description": "Parse any date string to structured output (ISO, unix, components). (1 credits)",
        "tags": [
          "Date & Time"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "date": {
                  "type": "string",
                  "description": "Date string to parse",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "iso": "string",
                  "unix": "number",
                  "year": "number",
                  "month": "number",
                  "day": "number",
                  "day_of_week": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/date-format": {
      "post": {
        "summary": "Date Format",
        "description": "Format date using pattern tokens (YYYY, MM, DD, HH, mm, ss). (1 credits)",
        "tags": [
          "Date & Time"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "date": {
                  "type": "string",
                  "required": true
                },
                "format": {
                  "type": "string",
                  "description": "Pattern: YYYY, MM, DD, HH, mm, ss"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "formatted": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/date-diff": {
      "post": {
        "summary": "Date Diff",
        "description": "Difference between two dates in days, hours, minutes, seconds. (1 credits)",
        "tags": [
          "Date & Time"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "from": {
                  "type": "string",
                  "description": "Start date",
                  "required": true
                },
                "to": {
                  "type": "string",
                  "description": "End date",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "days": "number",
                  "hours": "number",
                  "minutes": "number",
                  "weeks": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/date-add": {
      "post": {
        "summary": "Date Add",
        "description": "Add days/hours/minutes to a date. (1 credits)",
        "tags": [
          "Date & Time"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "date": {
                  "type": "string",
                  "required": true
                },
                "days": {
                  "type": "number"
                },
                "hours": {
                  "type": "number"
                },
                "months": {
                  "type": "number"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "result": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/date-weekday": {
      "post": {
        "summary": "Weekday",
        "description": "Get day of week for a date. (1 credits)",
        "tags": [
          "Date & Time"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
[...]
